*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: black;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    overflow: hidden;
    max-width: 500px;
    max-height: 500px;
}

.slider-items{
    width: 400%;
    height: 500px;
    display: flex;
}

.item{
    width: 25%;
    transition: all 0.5s ease;
}
.item img{
    width: 100%;
    height: 50%;
}

input[name="s"]{
    position: absolute;
    visibility: hidden;
}

.slider-nav{
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-nav-item{
    width: 60px;
    height: 15px;
    border: 2px solid #BDAE82;;
    margin: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.7;
}

.slider-nav-item:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: black;
}

.slider-text{
    position: absolute;
    top: 60%;
    width: 400%;
    height: 100px;
    display: flex;
}

.text{
    width: 25%;
    transition: all 0.5s ease;
}

.text h2{
    width: 100%;
    height: 10%;
    color: #BDAE82;
}

:checked{
    color:#BDAE82;
}

#s1:checked ~ .s1{
    margin-left: 0;
}

#s2:checked ~ .s1{
    margin-left: -25%;
}

#s3:checked ~ .s1{
    margin-left: -50%;
}

#s4:checked ~ .s1{
    margin-left: -75%;
}